*,*::after,*::before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

html {
  font-size: 112.5%;
  -webkit-font-smoothing: antialiased;
  background-color: #005e5f;
  font-family: "N", san-serif;
  font-style: normal;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  color: #282b2a;
  background-color: #005e5f;
  scroll-behavior: smooth;
}

html.project {
  background: rgb(0,94,95);
  background: linear-gradient(0deg, rgba(0,94,95,1) 1%, rgba(255,255,255,1) 2%), #005e5f;
}

.project body {
  background: rgb(0,94,95);
  background: linear-gradient(0deg, rgba(0,94,95,1) 1%, rgba(255,255,255,1) 2%), #005e5f;
}

section {
  background-color: white;
}

body.nav-active, body.lightbox-active {
  overflow: hidden;
}

section:focus {
  outline: none;
}

/* # GENERAL: TYPOGRAPHY # */

h4, h5, h6, p, a {
  font-family: "N", san-serif;
  font-style: normal;
  line-height: 1.5;
}

h4, h4, h6 {
  font-weight: 700;
}

p {
  font-weight: 300;
  margin-top: .6rem;
  margin-bottom: .6rem;
}

h4 a, h5 a, p a, a {
  color: #007176;
  font-weight: 700;
  text-decoration: none;
  font-weight: 700;
  border-bottom: .1111rem solid rgba(0, 191, 191, 0);
  transition: color .2s linear, border .2s linear;
}

h1, h2, h3, h1 a, h2 a, h3 a {
  color: #444947;
  font-family: "T", serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.25;
}

h1 a, h2 a, h3 a {
  color: #444947;
  border-bottom: .1111rem solid rgba(0, 191, 191, 0);
  transition: color .2s linear, border .2s linear;
}

a:hover {
  color: #00BFBF;
  border-bottom: .1111rem solid rgba(40, 197, 184, 1);
  transition: color .4s linear, border .4s linear .1s;
}

span.tight {
  letter-spacing: -0.25rem;
}

p.overview {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

section > h1 {
  font-size: 1.5rem;
  padding-top: 4rem;
  color: #007176;
}

article h1 {
  margin-bottom: .2rem;
  color: #444947;
  font-size: 2rem;
}

article header p, .project-details p {
  font-weight: 700;
  margin-top: .2rem;
  margin-bottom: 1rem;
}

p span.inline-dot {
  display: none;
}

p span.secondary {
  display: block;
}

article p, .project .hero-content p {
  max-width: 32em;
}

.view {
  margin-top: 1rem;
}

.view a {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: white;
  color: #008080;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0,0,0,0.05);
  transition: all .1s ease-in;
  border-bottom: none;
  font-size: 0.85rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.view.inversed a {
  color: white;
  background-color: #008080;
}

.view a:last-of-type {
  margin-right: 0;
}

.view a:hover {
  box-shadow: 0 0.3333rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  transition: all .4s ease-in-out;
  border-bottom: none;
  transform:scale(1.02);
}


article .read {
  margin-top: 1.2rem;
}

article .read a {
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-size: 0.85rem;
}

.reversed h1, .reversed h2, .reversed h3, .reversed h1 a, .reversed h2 a, .reversed h3 a, .reversed p, .reversed a {
  color: white;
}

.reversed .view a {
  color: #008080;
}

.reversed p {
  text-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.32);
}

.reversed h1, .reversed h2, .reversed h3 {
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.32);
}

/* Hero */

.logo a {
  color: #007176;
  text-decoration: none;
  border-bottom: none;
  font-size: 1.3333rem;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out;
}

.nav-active .logo a, .project .transparent .logo a {
  color: #007176;
  text-shadow: none;
  opacity: 1;
  visibility: visible;
}

.nav-active .logo a span {
  color: #359ca0;
}

.nav-active .logo a:hover span {
  color: #007176;
}

body:not(.nav-active) .reversed .logo a {
  opacity: 1;
  visibility: visible;
  color: white;
  text-shadow: 0 .125rem .5rem rgba(0, 0, 0, 0.32);
}

body:not(.nav-active) .reversed .logo a span {
  color: #9ad4d2;
}

body:not(.nav-active) .reversed .logo a:hover {
  text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.5);
}

body:not(.nav-active) .reversed .logo a:hover span {
  color: white;
}


.home .hero-content h1 {
  font-size: 2.5rem;
  text-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.2);
  color: #8bdacc;
  margin-bottom: 1rem;
}

.home .hero-content p, .home .hero-content p a {
  font-family: "T";
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.75;
  text-shadow: .125rem .125rem .5rem rgba(0, 0, 0, 0.32);
  color: #91d9d9;
}

.home .hero-content h1 span, .home .hero-content p span {
  color: white;
}

.project .hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: .2rem;
}

/* Navigation */

.banner {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem 1.5rem 1rem 1rem;
  z-index: 9999;
  transition: all .4s linear;
}

.banner.transparent {
  background-color: transparent;
  box-shadow: none;
}

.lightbox-active .banner {
    z-index: 99;
}

.logo {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    text-shadow: none;
    z-index: 9999;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  padding: 2rem;
  border-radius: 0 0 100% 100%;
  transition: all .2s ease-in-out, background-color .2s linear, filter .3s linear;
  background-color: transparent;
  filter: blur(20px);
}

.main-nav ul {
  display: grid;
  height: 0;
  padding: 4rem 0;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  opacity:0;
  visibility: hidden;
  transition: height .3s ease-in, opacity .2s linear, visibility .3s linear;
}

.nav-active .main-nav ul {
  height: calc(100% - 2rem);
  opacity: 1;
  visibility:visible;
  transition: height .3s ease-out, opacity .2s .1s linear, visibility .3s linear;
}

.nav-active .main-nav {
  bottom: 0;
  height: 100%;
  background-color: white;
  border-radius: 0;
  filter: blur(0px);
}

.main-nav li {
  list-style: none;
  font-family: "N", san-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  text-align: center;
}

.main-nav li a {
  color: #444947;
  text-decoration: none;
}

#menu-toggle {
  position: absolute;
  left: calc(100vw - 4rem);
  top: .75rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.85);
  box-shadow: .125rem .125rem .5rem rgba(0, 0, 0, 0.32);
  border: none;
  z-index: 999999;
  transition: all .3s linear;
}

.hamburger, .hamburger:before, .hamburger:after, .close-x, .close-x:before, .close-x:after {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -1px);
  width: 1.25rem;
  height: 2px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #007176;
  box-shadow: none;
  transition: all .3s cubic-bezier(.3,-0.49,.47,1.78);
}

.hamburger:before, .hamburger:after, .close-x:before, .close-x:after {
  content: " ";
}

.hamburger:before {
  transform: translate(-50%, -8px);
}

.hamburger:after {
  transform: translate(-50%, 6px);
}

.transparent #menu-toggle, .nav-active #menu-toggle {
  background-color: transparent;
  box-shadow: none;
}

.home body:not(.nav-active) .transparent .hamburger,
.home body:not(.nav-active) .transparent .hamburger:before,
.home body:not(.nav-active) .transparent .hamburger:after {
  background-color: white;
  box-shadow: .07rem .07rem .25rem rgba(0, 0, 0, 0.32);
}

.nav-active .hamburger, .close-x  {
  width: 0;
}

.nav-active .hamburger:before, .close-x:before {
  transform: translate(-50%, -1px) rotate(45deg);
}

.nav-active .hamburger:after, .close-x:after {
  transform: translate(-50%, -1px) rotate(-45deg);
}

/* # GENERAL: SPACING & LAYOUT # */

article {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

article:first-of-type {
  margin-top:1rem;
}

.home .hero, .contact{
  min-height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  padding: 1rem;
}

.home .hero {
  min-height: 100vh;
  left: 0;
  top: 0;
  right: 0;

  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 1rem;
}

.contact {
  min-height: 67.667vh;
  left: 0;
  bottom: 0;
  right: 0;
}

section.work, section.words, section.about {
  padding: 1rem;
}

/* # SECTION: HERO # */

.home .hero, .contact {
  background-image: linear-gradient(60deg, #006A80 0%, #00806A 100%);
  color: white;
}

.home .hero-content {
  grid-row: 2;
}

.project .hero {
  margin: 0;
  padding: 2.5rem 1rem 2rem;
  position: relative;
}

/* # SECTION: WORK & PROJECTS # */

.work article, .project .hero-content, .project-jumplinks a {
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  padding: 1rem;
  padding-bottom: 3rem;
  box-shadow: .5rem .5rem 2rem rgba(60, 68, 66, .25), .125rem .125rem .5rem rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  max-width: 100%;
  margin: 1.5rem 0 0;
  transition: all .2s ease-in-out;
}

.work article:hover{
  box-shadow: .5rem 1rem 3rem rgba(60, 68, 66, .33), .25rem .25rem 1rem rgba(0, 0, 0, 0.2);
  transition: all .4s ease-in-out;
}

.work article.pin, .project .hero-content.pin, .project-jumplinks .pin {
  background-image: url(../project/pin/img/Pin-BG.png);
  background-color: #3565bf;
}

.work article.product-of, .project .hero-content.product-of, .project-jumplinks .product-of {
  background-image: url(../project/productof/img/ProductOf-BG.png);
  background-color: #efefef;
}

.work article.travello, .project .hero-content.travello, .project-jumplinks .travello {
  background-image: url(../project/travello/img/Travello-BG.png);
  background-color: #1a99d6;
}

.work article.whilo, .project .hero-content.whilo, .project-jumplinks .whilo {
  background-image: url(../project/whilo/img/Whilo-BG.png);
  background-color: #3b3e3b;
}

.showcase {
  display: none;
}

.project-content {
  position: relative;
  padding: 1rem;
}

.hero + .project-content {
  padding-top: 0;
}

.project-roles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: auto;
}

.project-roles h4, .project-roles h5, .project-roles li {
  font-size: 0.75rem;
}

.project-roles h4, .project-roles h5 {
  margin-bottom: .25rem;
  margin-top: 0;
  color: #5c5c5c;
}

.project-roles h5 {
  margin-top:.25rem;
  margin-bottom: 0;
  color: #777777;
}

.project-roles ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #777777;
}


figure {
  margin: 0 auto;
}

.project-fig {
  margin: 2rem auto 0;

}

.feature-fig, .project-fig {
  position: relative;
  max-width: 80%;
  margin: 2rem auto;
}

.wide-fig {
  max-width: unset;
}

.feature-img, .lightbox-container .lightbox, .project-img {
  position: relative;
  display: block;
  margin: 3rem auto 2rem;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0;
  border: none;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 2rem rgba(60, 68, 66, .25), 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.no-shadow .project-img {
  box-shadow: none;
}

figure .feature-img, figure .project-img {
  margin:0;
}

figcaption {
  font-family: "N", san-serif;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.75rem;
  color: #777777;
  margin-top: 1rem;
  margin-left: 1rem;
}

.gallery-caption {
  padding-top: calc(119vw + 3rem);
}

.gallery-caption {
  margin-left: 10.2vw;
}

.lightbox-container figcaption {
  margin-left: 8vw;
}

.lightbox-container {
  position: relative;
  grid-column: 1 / -1;
  margin: 0;
}

.lightbox {
  cursor: pointer;
}

.lightbox .lightbox-thumb {
  width: 100%;
  display: block;
}

.lightbox.overlap-3 {
  width: 50%;
  max-width: 16rem;
  margin-top: -70%;
}

.lightbox.overlap-3:nth-of-type(2) {
  margin-top: 3rem;
  left: -25%;
}

.lightbox.overlap-3:last-of-type {
  right: -25%;
}

.lightbox-active .lightbox {
  overflow: visible;
  box-shadow: none;
  outline: none;
}

.lightbox img + img {
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin: auto;

  opacity: 0;
  visibility: hidden;
  transition: opacity .2s linear, max-width .2s ease-in, visibility .2s;
  max-width: 0;
  max-height: 100%;
}

#close-lightbox {
  position: fixed;
  width: 0rem;
  height: 0rem;
  left: calc(100vw - 2.75rem);
  top: 2rem;
  background-color: white;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity .2s linear,
    width .2s ease-in,
    height .2s ease-in,
    top .2s ease-in,
    left .2s ease-in,
    visibility .2s;
}

.lightbox-overlay {
  display: none;
  content: "";
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.lightbox-active .lightbox-overlay {
  display: block;
}

.lightbox-active .lightbox.selected img + img {
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  z-index: 9999;
  transition:
    opacity .4s linear,
    max-width .4s ease-out,
    visibility .4s;
  cursor: default;
}

.lightbox-active #close-lightbox {
  left: calc(100vw - 4rem);
  top: .75rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  background-color: white;
  box-shadow: .125rem .125rem .5rem rgba(0, 0, 0, 0.32);
  border: none;
  z-index: 999999;
  transition: all .3s linear;

  opacity: 1;
  visibility: visible;
  /* width: 2rem;
  height: 2rem; */
  transition:
    opacity .2s .1s linear,
    width .2s .1s ease-out,
    height .2s .1s ease-out,
    top .2s .1s ease-out,
    left .2s .1s ease-out,
    visibility .3s;
  cursor: pointer;
}

/* .gallery {
  height: 136vw;
} */

.screenshot-gallery {
  position: absolute;
  left:0;
  overflow-x: scroll;
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

.screenshot-gallery::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.screenshot-gallery-container {
  width: 320vw;
  display: grid;
  grid-template-columns: repeat(5,54vw);
  grid-gap: 10vw;
  font-size: 2.5vw;
}

.screenshot-gallery .device-mock {
  /* margin: 1rem 6vw; */
}

.screenshot-gallery .device-mock:first-child {
  /* margin-left: 12vw; */
}

.screenshot-gallery .screenshot {
  width: 66.6667vw;
  max-width: 300px;
}

.project-jumplinks {
  padding: 2rem 1rem 0.25rem;
}

.project-jumplinks h2:after{
  content: "→";
  position: absolute;
  right: 1.5rem;
  transition: right .2s ease-in-out;
}

.project-jumplinks a {
  display: block;
  position: relative;
  border-bottom: none;
  padding: 1rem;
  margin: .75rem 0;
}

.project-jumplinks a:hover {
  box-shadow: 0 0.3333rem 1.5rem 0 rgba(0, 0, 0, 0.2);
  transition: all .4s ease-in-out;
  border-bottom: none;
  transform:scale(1.02);
}

.project-jumplinks a:hover h2:after {
  right: 0.5rem;
  transition: right .3s ease-in-out;
}

.invision-proto {
  position: relative;
  margin: 2rem auto;
  text-align: center;
}

.invision-proto iframe {
  margin: 0 auto;
  display: none;
}

.invision-proto figcaption {
  display: none;
}

/* # SECTION: ABOUT # */

.about-content h1 {
  margin-top: 1rem;
}

.about-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 33%;
  margin-top: 2rem;
  -webkit-box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0,0.2);
  box-shadow: 0 .5rem 1.5rem 0 rgba(0,0,0,0.2);
}

.quote {
  border-left: solid .5rem #00BFBF;
  font-style: italic;
  padding-left: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.more p, .more p a {
  font-style: italic;
}

/* # SECTION: CONTACT # */

.contact h1 {
  padding-top: 2rem;
}

.contact-icon {
  fill: rgba(255,255,255,1);
  fill-rule:evenodd;
  transition: fill .3s linear;
}

.contact-details-item {
  display: inline-block;
  border-bottom: none;
  margin: 1rem;
}

.contact-details-items-main {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contact-details-item-socials {
  display: block;
  /* margin: 1.2rem auto 3.2rem; */
  text-align: center;
}

.contact-details-item h4 {
  margin-top: .8rem;
}

.contact-details-item h3 {
  display: inline-block;
  color: rgba(255,255,255,1);
  transition: color .2s linear;
}

.contact-details-item h3 span {
  opacity: .8;
  color: rgba(255,255,255,.75);
  transition: all .2s linear;
}

.contact-details-icon {
    display: inline-block;
    width: 1.4rem;
    text-align: right;
    vertical-align: text-top;
    box-sizing: border-box;
}

.contact-details-item-twitter .contact-details-icon {
  padding-right: .15rem;
  padding-top: .25rem;
}

.contact-details-item-email .contact-details-icon {
  padding-right:.3rem;
}

.contact-details-item-twitter .info {
    margin-left: -.15rem;
}

.contact-details-labels {
  display: inline-block;
}

.contact-details-labels h3{
  margin: 0;
}

.contact-details-item .label {
  display: none;
}

.contact-details-item:hover .contact-icon, .contactState .contact-details-item .contact-icon {
  fill: rgba(255,255,255,.75);
}

.contact-details-item:hover, .contact-details-item:active, .contact-details-item:focus {
  text-decoration: none;
  border-bottom: none;
}

.contact-details-item:hover h3 span, .contactState .contact-details-item h3 span {
  color: rgba(255,255,255,1);
  opacity: 1;
}

.socials-icon {
  fill: rgba(255,255,255,1);
  fill-rule: evenodd;
  transition: fill .2s linear;
}

.socials-item:before {
  content: '';
  position: absolute;
  margin: -.3rem -.6rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, .0);
  border-radius: 50%;
  z-index: -1;
  transition: background-color .2s ease-out;
}

.socials-item:hover:before {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color .2s ease-in;
}

.socials-info:hover .socials-icon {
  fill: rgba(255,255,255,0.75);
}

.socials-info .socials-item:hover,
.socials-info .socials-item:focus {
  transform: scale(1.333) translateY(-.1rem);
  border-bottom: none;
}

.socials-info .socials-instagram #insta-gradient-bg {
  opacity: 0;
  transition: opacity .2s linear;
}

.socials-info .socials-facebook:hover .socials-icon,
.socials-info .socials-facebook:focus .socials-icon,
.contactState .socials-info .socials-facebook .socials-icon {
  fill:#3B579D;
}

.socials-info .socials-linkedin:hover .socials-icon,
.socials-info .socials-linkedin:focus .socials-icon,
.contactState .socials-info .socials-linkedin .socials-icon {
  fill:#0077B5;
}

.socials-info .socials-instagram:hover #insta-gradient-bg,
.socials-info .socials-instagram:focus #insta-gradient-bg,
.contactState .socials-info .socials-instagram #insta-gradient-bg {
  opacity: 1;
}

.socials-info .socials-dribbble:hover .socials-icon,
.socials-info .socials-dribbble:focus .socials-icon,
.contactState .socials-info .socials-dribbble .socials-icon {
  fill:#ea4c89;
}

.socials-info .socials-github:hover .socials-icon,
.socials-info .socials-github:focus .socials-icon,
.contactState .socials-info .socials-github .socials-icon {
  fill:#6cc644;
}

.socials-info .socials-medium:hover .socials-icon,
.socials-info .socials-medium:focus .socials-icon,
.contactState .socials-info .socials-medium .socials-icon {
  fill:#0BE370;
}

.socials-info .socials-pocket:hover .socials-icon,
.socials-info .socials-pocket:focus .socials-icon,
.contactState .socials-info .socials-pocket .socials-icon {
  fill:#ef4056;
}

.socials-info a.socials-item {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  text-align: center;
  transition: transform .2s ease-in-out;
}

.socials-info {
}

.socials-item svg {
    vertical-align: middle;
}


/*  Contact Form  */

fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  /*-webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border-width: 0;
  border-color: transparent;*/
}

.contactFormContainer, .projectFormContainer {
  margin-bottom: 3rem;
}

.contactFormContainer .contactForm, .projectFormContainer .projectForm  {
  position: relative;
  width: 100%;
  z-index: 1;
}

/*.contactFormContainer h3, .projectFormContainer h3 {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  color: white;
}*/

.form-ready .contact-default {
  opacity: 1;
  top: 0;
  transition: top .2s ease-out, opacity .2s linear;
}

.form-ready .contact-sent {
  opacity: 0;
  top: 2rem;
  transition: top .2s ease-in, opacity .2s linear;
}

.form-sent .contact-default {
  opacity: 0;
  top: -2rem;
  transition: top .2s ease-in, opacity .2s linear;
}

.form-sent .contact-sent {
  opacity: 1;
  top: 0;
  transition: top .2s ease-out, opacity .2s linear;
}

.contact-alt-title {
  display: none;
}

.contactForm fieldset, .projectForm fieldset {
  display: block;
  position: relative;
  width: 100%;
  margin-top: .2rem;
  /*overflow: hidden;*/
  box-shadow: none;
  transition:
    all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contactForm fieldset:hover, .projectForm fieldset:hover  {
  /*transform: scale(1.05);*/
  /*border-radius: 1rem;*/
  /*box-shadow: 0 .2rem .3rem 0 rgba(0,0,0,.25);*/
}

.contactForm fieldset.form-message:hover, .projectForm fieldset.form-message:hover {
  /*top:.1rem;*/
}

.contactForm input,
.contactForm textarea,
.projectForm input,
.projectForm textarea {
  display: block;
  padding: 1em .6em 1em .6em;
  width: 100%;
  height: auto;
  /*margin: .2rem 0 0;*/
  box-sizing: border-box;
  font-family: "National", 'Helvetica neue', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 300;
  border: 0 none;
  z-index: -1;
  transition: background .3s linear;
  outline: none;
  text-indent: 5em;
}

.contactForm input,
.contactForm textarea {
	background: #005454;
	color: white;
}

.projectForm input,
.projectForm textarea {
	background: white;
	color: #444947;
}


.contactForm input:hover,
.contactForm textarea:hover {
  background: #004545;
}

.projectForm input:hover,
.projectForm textarea:hover {
  background: white;
}

.contactForm label, .projectForm label {
  position: absolute;
  font-size: 1rem;
  font-family: "National", sans-serif;
  font-weight: 600;
  top: 1.2rem;
  left: 1.2rem;
  z-index: 1;
  transition: .2s ease-in-out;
}

.contactForm label {
	color: #fff;
}

.projectForm label {
	color: #444947;
}

.contactForm textarea, .projectForm textarea {
  height: 8rem;
  padding-top: 1.2rem;
  resize: vertical;
}

/*
.contactForm input:focus,
.contactForm textarea:focus,
.projectForm input:focus,
.projectForm textarea:focus {
  box-shadow: 0 0 .1rem .1rem #65B0E8;
}*/

.contactForm input:focus + label,
.contactForm textarea:focus + label,
.projectForm input:focus + label,
.projectForm textarea:focus + label {
  /*font-size: .6rem;*/
  transform: scale(.85);
  left: 1rem;
  transition: all .2s ease-in-out;
}

.contactForm input:focus + label,
.contactForm textarea:focus + label {
	color: white;
}

.projectForm input:focus + label,
.projectForm textarea:focus + label {
	color: #555;
}

.contactForm input:valid + label,
.contactForm input:focus + label,
.contactForm textarea:valid + label,
.contactForm textarea:focus + label,
.projectForm input:valid + label,
.projectForm input:focus + label,
.projectForm textarea:valid + label,
.projectForm textarea:focus + label {
  transform: scale(.85);
  left: 1rem;
  transition: all .2s ease-in-out;
}

.contactForm input:valid + label,
.contactForm textarea:valid + label{
  color: #91D9D9;
}

.projectForm input:valid + label,
.projectForm textarea:valid + label {
  color: #008080;
}

.contactForm button, .projectForm button {
  position: absolute;
  border: 0 none;
  z-index: 1;
}

.form-name input {
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;

}

.form-message textarea {
  border-bottom-right-radius: .2rem;
  border-bottom-left-radius: .2rem;
}


.contact-reset {
  display: none;
}

.contactForm .send-message {
  height: 1rem;
  width: 1rem;
  bottom: -0.25rem;
  right: -0.25rem;
  font-size: 0;
  border-radius: 50%;
  background-color: #00BFBF;
  box-shadow: none;
  z-index: 25;
  transition:
    all .2s cubic-bezier(.87,-.41,.19,1.44),
    color .3s linear;*/
}

.contactForm:valid .send-message {
  height: 4rem;
  width: 4rem;
  bottom: -0.67rem;
  right: -0.67rem;
  font-size: .8rem;
  font-weight: 700;
  color: #008080;
  background-color: white;
  box-shadow: .0 .2rem .3rem 0 rgba(0, 0, 0, 0.15);
  /*transition:
    box-shadow .4s cubic-bezier(.87,-.41,.19,1.44),
    scale .4s cubic-bezier(.87,-.41,.19,1.44),
    width .4s cubic-bezier(.87,-.41,.19,1.44),
    height .4s cubic-bezier(.87,-.41,.19,1.44),
    bottom .4s cubic-bezier(.87,-.41,.19,1.44),
    right .4s cubic-bezier(.87,-.41,.19,1.44),
    background-color .3s linear;*/
    transition:
      all .4s cubic-bezier(.87,-.41,.19,1.44),
      background-color .3s linear;
}

.contactForm:valid .send-message:enabled:hover {
  transform: scale(1.1);
  box-shadow: .0 .2rem .3rem 0 rgba(0, 0, 0, 0.25);
}

/* # FOOTER # */
footer {
  left: 0;
  bottom: 0;
  right: 0;
  padding: .5rem 1rem 1rem 1rem;
  background-color: #005e5f;

  color: white;
}


/*####################################################
######################################################
############                              ############
############                              ############
############        MEDIA QUERIES         ############
############                              ############
############                              ############
######################################################
####################################################*/

/* ~576px */
@media screen and (min-width: 36rem){
  body.nav-active {
    overflow: auto;
  }

  .home .hero{
    grid-template-columns: 1fr 5fr 1fr;
    grid-gap: 1rem;
  }

  .home .hero-content {
    grid-column: 2;
  }

  .project .hero {
    padding-top: 4rem;
  }

  .banner {
    grid-column: 1/3;
  }

  section.words, section.about {
    padding: 2rem;
  }

  section.work > h1 {
    padding-left: 1rem;
  }

  /* Navigation */

  .banner {
    position: fixed;
    display: grid;
    grid-template-columns: 8rem auto;
    grid-gap: 1rem;
    align-items: baseline;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    padding: 1rem 1.5rem 1rem 1rem;
    background-color: white;
    box-shadow: .5rem .5rem 2rem rgba(60, 68, 66, .25), .125rem .125rem .5rem rgba(0, 0, 0, 0.1);
  }

  .logo, .main-nav, .main-nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .logo a {
    color: #007176;
    opacity: 1;
    visibility: visible;
    text-decoration: none;
    border-bottom: none;
    font-size: 1.3333rem;
    transition: all .4s ease-in-out;
  }

  .logo a span {
    color: #359ca0;
    transition: all .4s ease-in-out;
  }

  .logo a:hover span {
    color: #007176;
  }

  .reversed .logo a {
    opacity: 1;
    visibility: visible;
    color: white;
    text-shadow: 0 .125rem .5rem rgba(0, 0, 0, 0.32);
  }

  .reversed .logo a span {
    color: #9ad4d2;
  }

  .reversed .logo a:hover {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.5);
  }

  .reversed .logo a:hover span {
    color: white;
  }

  #menu-toggle {
    display: none;
  }

  .main-nav ul {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-gap: 1.5rem;
    height: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: baseline;
    opacity: 1;
    visibility: visible;
  }

  .main-nav, .nav-active .main-nav {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    filter: initial;
  }

  .reversed .main-nav li a, .nav-active .reversed .main-nav li a {
    color: white;
    text-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.32);
  }

  .main-nav li {
    font-size: 1rem;
  }

  .main-nav li:nth-child(1) {
    grid-column: 2;
  }

  .main-nav li:nth-child(2) {
    grid-column: 3;
  }

  .main-nav li:nth-child(3) {
    grid-column: 4;
  }

  .main-nav li:nth-child(4) {
    grid-column: 5;
  }

  .main-nav li {
    display: inline-block;
  }

  /* # WORK # */

  .work, .words {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .work article, .words article {
    grid-column: 1/4;
    margin:0;
  }

  .words .more {
    grid-column: 1/4;
    margin-top: 3rem;
  }

  .project .hero-content {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }

  .project .project-details {
    grid-column: 2 / span 10;
  }


  .project .project-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: auto;
  }
  .project .project-jumplinks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: auto;
  }

  .project-jumplinks a {
    grid-column: span 4;
    margin-bottom: -2.5rem;
  }

  .project-jumplinks h2:after {
    bottom: .5rem;
  }

  .content-group {
    grid-column: 2 / span 10;
    margin: 0;
    max-width: 32rem;
  }

  .feature-fig, .project-fig {
    grid-column: 4 / span 6;
    margin: 2rem 0;
    max-width: unset;
  }

  .wide-fig {
    grid-column: 2 / span 10;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .double-fig {
    grid-column: 2 / span 10;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 5fr 6fr;
  }

  .double-fig figcaption {
    grid-column: 1 / -1;
  }

  .invision-proto iframe, .invision-proto figcaption {
    display: block;
  }

}

/* ~768px */
@media screen and (min-width: 48em){
  section > h1 {
    visibility: hidden;
    margin: 1rem;
    padding: 0;
  }

  .home .hero {
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 1rem;
  }

  .home .hero-content {
    grid-row: 2;
    grid-column: 2;
  }

  .home .hero-content h1 {
    font-size: 4rem;
    text-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  }

  .home .hero-content p, .home .hero-content p a {
    font-size: 1.5rem;
    max-width: 24em;
    line-height: 1.75;
    text-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.32);
  }

  .project .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }

  .project .hero-content {
    grid-column: 1 / span 12;
  }

  .banner {
    grid-column: 1/3;
  }

  .words {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .work {
    row-gap: 4rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .content-group {
    grid-column: 2 / span 10;
  }

  .about, .contact {
    display: grid;
    grid-gap: 1rem;
  }

  .about {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
  }

  .about-photo {
    margin-left: -2rem;
  }

  .about-content h1 {
    font-size: 4rem;
  }

  .contact {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-template-areas:
      "l-margin header r-margin"
      "l-margin form r-margin"
      "l-margin contacts r-margin"
      "l-margin socials r-margin"
  }

  .words article, .words > h1,
  .words .more,
  .about article, .about > h1,
  .contact > div, .contact > h1 {
    grid-column: 2;
  }

  .work > h1 {
    grid-column: 2/6;
  }

  .work article {
    padding: 0;
    grid-column: 2 / span 10;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(10, 1fr);
    overflow: hidden;
    position: relative;
  }

  .work .project-details {
    grid-column: 2 / span 4;
    padding: 1rem 0 3rem 0;
    display: inline-block;
  }

  .work .showcase {
    display: inline-block;
    grid-column: 7 / span 4;
    background-color: white;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    box-sizing: content-box;
    margin-left: -1rem;
    border: 1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work .flipped .project-details {
    grid-row: 1;
    grid-column: 6 / span 4;
  }

  .work .flipped .showcase {
    grid-row: 1;
    grid-column: 1 / span 4;
    margin-left: 0;
  }

  .work .pin {
    grid-column: 2 / span 10;
  }

  .work .showcase img, .work .showcase video {
    width: 80%;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: .5rem .5rem 2rem rgba(60, 68, 66, .25), .125rem .125rem .5rem rgba(0, 0, 0, 0.1);
  }

  .work .product-of {
    grid-column: 3 / span 10;
  }

  .work .product-of .showcase {
    display: grid;
    height: calc(100% - 2rem);
    grid-auto-rows: 50% 50%;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    overflow: hidden;
    position: relative;
  }

  .work .product-of .showcase-container {
    box-shadow: none;
    object-fit: contain;
    grid-column: 1 / span 3;
  }

  .work .product-of img {
    height: auto;
    width: 100%;
    box-shadow: none;
    object-fit: contain;
  }

  .work .travello {
    grid-column: 1 / span 10;
  }

  .work .travello .showcase {
    position:relative;
    overflow:hidden;
  }

  .work .whilo {
    grid-column: 2 / span 10;
  }

  .contact > h1 {
    margin: 0;
    grid-area: header;
  }

  .contactFormContainer {
    grid-area: form;
  }

  .contact-details-items-main {
    grid-area: contacts;
  }

  .contact-details-item-socials {
    grid-area: socials;
  }

  .contactFormContainer, .projectFormContainer, .contact-details-items-main, .contact-details-item-socials {
    margin-bottom: 0;
  }

  /* .gallery {
    height: 33rem;
  } */

  .gallery-caption {
    padding-top: 32rem;
  }

  .screenshot-gallery-container {
    font-size: 0.6rem;
    width: 136em;
    display: grid;
    grid-template-columns: repeat(5,21em);
    grid-gap: 7em;
  }
  .screenshot-gallery .device-mock {
    /* margin: 1rem; */
  }
  .screenshot-gallery .device-mock:first-child {
    /* margin-left: 4rem; */
  }

  .lightbox.overlap-3 {
    width: 50%;
    max-width: 16rem;
    margin-top: -28rem;
  }


  .lightbox-active .lightbox.selected img + img {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    transition:
      opacity .4s linear,
      max-width .4s ease-out,
      visibility .4s;
  }

  .two-wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

}

/* ~896px */
@media screen and (min-width: 56em){
  html {
    font-size: 125%;
  }

  .project .hero {
    padding-top: 4rem;
  }

  .content-group {
    grid-column: 2 / span 6;
  }

  .feature-fig, .project-fig {
    grid-column: 9 / span 3;
    width: 100%;
    max-width: 16rem;
    margin-top: 2rem;
  }

  .double-fig {
    grid-column: 2 / span 8;
    grid-template-columns: 3fr 4fr;
    max-width: none;
  }


  .project-fig img {
    margin-top: 1rem;
  }

  .feature-fig {
    margin: -16rem 0 1rem 0;
  }

  .feature-fig {
    grid-row: 1/3;
  }

  .wide-fig {
    grid-column: 2 / span 8;
    max-width: unset;
    margin-top: 1rem;
  }

  .screenshot-gallery .device-mock {
    /* margin: 1rem 2rem; */
  }

  .screenshot-gallery-container {
    /* width: 92rem; */
  }

}

/* ~1024px */
@media screen and (min-width: 64em){
  .home .hero {
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 1rem;
  }

  .home .hero, .words, .about, .contact {
    grid-template-columns: 2fr 8fr 2fr;
  }

  .work article {
    grid-column: 3 / span 8;
    grid-template-columns: repeat(8, 1fr);
  }

  .work .project-details {
    grid-column: 2 / span 3;
  }

  .work .showcase {
    grid-column: 6 / span 3;
  }

  .work .flipped .project-details {
    grid-column: 5 / span 3;
  }

  .work .flipped .showcase {
    grid-column: 1 / span 3;
  }

  .work .pin {
    grid-column: 3 / span 8;
  }

  .work .product-of {
    grid-column: 5 / span 8;
  }

  .work .travello {
    grid-column: 1 / span 8;
  }

  .work .whilo {
    grid-column: 4 / span 8;
  }

  .project-jumplinks h2:after {
    bottom: auto;
  }


}

/* ~1200 */
@media screen and (min-width: 75em){
  /* .project-jumplinks a {
    grid-column: span 2;
  } */

  .project-jumplinks a.link-1 {
    grid-column: 4 / span 2;
  }
  .project-jumplinks a.link-2 {
    grid-column: 6 / span 2;
  }
  .project-jumplinks a.link-3 {
    grid-column: 8 / span 2;
  }
  .project-jumplinks h2::after {
    bottom: 0.5rem;
  }
}

/* ~1312 */
@media screen and (min-width: 82em){
  section, section.hero, section.contact, section.work, section.words, section.about, section.project-content, .project section.hero, .full-wide {
    padding-left: calc((100vw - 65rem) / 2 );
    padding-right: calc((100vw - 65rem) / 2 );
  }

  .project .hero {
    padding-top: 5rem;
  }

  .lightbox-container {
    margin: 0 auto;
  }

  .lightbox.overlap-3 {
    margin: 3rem 2rem;
    display: inline-block;
  }

  .lightbox.overlap-3:nth-of-type(2) {
    left: auto;
  }

  .lightbox.overlap-3:last-of-type {
    right: auto;
  }

  /* .lightbox img + img,
  .lightbox img + img {
    position: absolute;
    left: 0;
  } */

  /* .lightbox-active .lightbox.selected img + img {
    left: -16%;
  } */

  .gallery-caption {
    margin-left: 10.2vw;
  }

  .lightbox-container figcaption {
    margin-left: 8vw;
  }

  .wide-fig {
    grid-column: 8 / -1;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
  }

  .two-wide {
    grid-column: 1 / -1;
    grid-row: auto;
    width: 100%;
  }

}

/* ~1600 */
@media screen and (min-width: 100em){
  html {
    font-size: 150%;
  }

  .project .hero {
    padding-top: 5.5rem;
  }

  .gallery-caption {
    padding-top: 0;
  }

  .screenshot-gallery {
    position: relative;
    margin: 0 auto;
    overflow-x: visible;
    width: 100%;
    padding: 0 0 2rem 0;
  }

  .screenshot-gallery-container {
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    font-size: 0.45rem;
  }

  .screenshot-gallery .device-mock {
    /* margin: 1.75rem; */
  }
  .screenshot-gallery .device-mock:first-child {
    /* margin-left: 0; */
  }
  .screenshot-gallery .device-mock:last-child {
    /* margin-right: 0; */
  }

}

@media screen and (min-width: 150em){
  .project-jumplinks h2:after {
    bottom: auto;
  }
}
