*,*::after,*::before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

html {
  font-size: 125%;
}

h1 {
  font-family: T, serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.25;
}

.banner h1 {
  font-size: 1.2rem;
}

.hero h1 {
  font-size: 2.25rem;
}

.hero h2 {
  font-size: 1rem;
  line-height: 1.5;
}

p {

}
